.Ranking {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.Ranking th,
.Ranking td {
    padding: 16px;           /* 👈 Most important */
    border: 2px solid; /* TEMPORARY TEST */
    text-align: center;
}